.menusys_moo {
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
	margin-top: -7px;
}

#menusys_moo {
	margin: 0;
	padding: 0 0 0 1px;
	overflow: hidden;
	height: 52px;
	background: none;
}

#menusys_moo ul {
	margin: 0;
	padding: 0;
}

#menusys_moo li {
	margin: 0;
	padding: 0 0 0 1px;
	float: left;
	display: block;
	line-height: 52px;
	border: 0;
	cursor: pointer;
	background: url(../../images/neon/main-li.gif) no-repeat 0 2px;
}
#menusys_moo li.first-item {
	background: none;
	padding: 0;
}
#menusys_moo li ul {
	width: 16.4em;
	position: absolute;
	z-index: 9999;
	left: -999em;
	height: auto;
	w\idth: 15.9em;
}

#menusys_moo li ul ul {
	margin: -1.5em 0 0 15em;
}

#menusys_moo li li {
	padding: 0;
	margin: 0;
	width: 15.9em;
}
#menusys_moo li ul li li {
	width: 15.9em;
}
#menusys_moo ul a {
	
}

#menusys_moo li:hover ul ul, #menusys_moo li:hover ul ul ul,
#menusys_moo li.hover ul ul, #menusys_moo li.havechildhover ul ul, #menusys_moo li.havechild-activehover ul ul, #menusys_moo li.activehover ul ul,
#menusys_moo li.hover ul ul ul, #menusys_moo li.havechildhover ul ul ul, #menusys_moo li.havechild-activehover ul ul ul, #menusys_moo li.activehover ul ul ul {
	left: -999em;
}

#menusys_moo li:hover ul, #menusys_moo li li:hover ul, #menusys_moo li li li:hover ul,
#menusys_moo li.hover ul, #menusys_moo li.havechildhover ul, #menusys_moo li.havechild-activehover ul, #menusys_moo li.activehover ul,
#menusys_moo li li.hover ul, #menusys_moo li li.havesubchildhover ul, #menusys_moo li li.havesubchild-activehover ul, #menusys_moo li li.activehover ul,
#menusys_moo li li li.hover ul, #menusys_moo li li li.havesubchildhover ul, #menusys_moo li li li.havesubchild-activehover ul, #menusys_moo li li li.activehover ul {
	left: auto;
}

/* Menu styling begin */
#menusys_moo li a {
	padding: 0;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer; /*line-height: 29px;*/
}

#menusys_moo li a span {
	padding: 0 17px;
	height: 52px;
	line-height: 52px;
	border: none;
	color: #FFFFFF;
	font-size: 130%;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	text-transform: uppercase;
}

#menusys_moo li a:hover,
#menusys_moo li a:active,
#menusys_moo li a:focus {
	border: none;
	display: block;
	color: #FFFFFF;
}

#menusys_moo li:hover a,
#menusys_moo li.hover a,
#menusys_moo li.havechildhover a,
#menusys_moo li.havechild-activehover a {
	background: url(../../images/neon/main-a-act.gif) no-repeat right 1px;
	border: none;
	color: #FFFFFF;
	display: block;
}

#menusys_moo li:hover a span,
#menusys_moo li.hover a span,
#menusys_moo li.havechildhover a span,
#menusys_moo li.havechild-activehover a span {
	border: none;
	color: #FFFFFF;
	display: block;
	background: url(../../images/neon/main-span-act.gif) no-repeat 0 1px;
}

#menusys_moo li a.active,
#menusys_moo li a.active:hover,
#menusys_moo li a.active:active,
#menusys_moo li a.active:focus {
	background: url(../../images/neon/main-a-act.gif) no-repeat right 1px;
	border: none;
	color: #FFFFFF;
	display: block;
}
#menusys_moo li.first-item a,
#menusys_moo li.first-item a:hover,
#menusys_moo li.first-item a:active,
#menusys_moo li.first-item a:focus,
#menusys_moo li.first-item a.active,
#menusys_moo li.first-item:hover a {
	margin-left: 5px;
}
#menusys_moo li li.first-item a,
#menusys_moo li li.first-item a:hover,
#menusys_moo li li.first-item a:active,
#menusys_moo li li.first-item a:focus,
#menusys_moo li li.first-item a.active,
#menusys_moo li li.first-item:hover a {
	margin-left: 0;
}
#menusys_moo li a.active span,
#menusys_moo li a.active:hover span,
#menusys_moo li a.active:active span,
#menusys_moo li a.active:focus span {
	background: url(../../images/neon/main-span-act.gif) no-repeat 0 1px;
	border: none;
	color: #FFFFFF;
	display: block;
}

#menusys_moo li.first-item a span {
	margin-left: -5px;
	padding-left: 22px;
}
#menusys_moo li.first-item a:hover span,
#menusys_moo li.first-item a:active span,
#menusys_moo li.first-item a:focus span,
#menusys_moo li.first-item a.active span,
#menusys_moo li.first-item:hover a span {
	background: url(../../images/neon/main-span-first.png) no-repeat 0 1px;
	
}
#menusys_moo li li.first-item a span,
#menusys_moo li li.first-item a:hover span,
#menusys_moo li li.first-item a:active span,
#menusys_moo li li.first-item a:focus span,
#menusys_moo li li.first-item a.active span,
#menusys_moo li li.first-item:hover a span {
	margin-left: 0;
	padding-left: 17px;
}

#menusys_moo li ul {
	border: none !important;
	background: none !important;
}

#menusys_moo li ul ul {
	border: none !important;
}

#menusys_moo li ul li,
#menusys_moo li ul li.first-item {
	border-right: none;
	background: #2c0c1f;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #361228;
}
#menusys_moo li li.jv-last-li,
#menusys_moo li li.jv-last-li:hover {
	background: url(../../images/neon/subul-br.png) no-repeat bottom right;
	border: none !important;
	margin: 0 0 0 0.7em;
	padding: 0;
	height: 8px !important;
	width: 15.4em;
}
#menusys_moo li li.jv-last-li span,
#menusys_moo li li.jv-last-li:hover span {
	background: url(../../images/neon/subul-bl.png) no-repeat bottom left;
	display: block;
	margin: 0 0 0 -0.7em;
	height: 8px;
	line-height: 8px !important;
	padding: 0;
}
#menusys_moo li li li.jv-first-li,
#menusys_moo li li li.jv-first-li:hover {
	background: url(../../images/neon/subul-tr.png) no-repeat top right;
	border: none !important;
	margin: 0 0 0 0.7em;
	padding: 0;
	height: 8px !important;
	line-height: 8px !important;
	width: 15.4em;
}
#menusys_moo li li li.jv-first-li span,
#menusys_moo li li li.jv-first-li:hover span {
	background: url(../../images/neon/subul-tl.png) no-repeat top left;
	display: block;
	margin: 0 0 0 -0.7em;
	height: 8px;
	line-height: 8px !important;
	padding: 0;
}
#menusys_moo li li li.jv-last-li,
#menusys_moo li li li.jv-last-li:hover {
	background: url(../../images/neon/subul-br.png) no-repeat bottom right;
	border: none !important;
	margin: 0 0 0 0.7em;
	padding: 0;
	height: 8px !important;
	line-height: 8px !important;
	width: 15.4em;
}
#menusys_moo li li li.jv-last-li span,
#menusys_moo li li li.jv-last-li:hover span {
	background: url(../../images/neon/subul-bl.png) no-repeat bottom left;
	display: block;
	margin: 0 0 0 -0.7em;
	height: 8px;
	line-height: 8px !important;
	padding: 0;
}

#menusys_moo li ul a,
#menusys_moo li ul a:hover,
#menusys_moo li ul a:active {
	margin: 0;
	padding: 0;
	border: none !important;
	background: none !important;
	color: #ECCCD1 !important;
	line-height: 24px;
}
#menusys_moo li ul li.hasChild a,
#menusys_moo li ul li.hasChild li.hasChild a {
	background: url(../../images/neon/subul-child.png) no-repeat 95% 7px !important;
}
#menusys_moo li ul li.hasChild a:hover,
#menusys_moo li ul li.hasChild li.hasChild a:hover {
	background: #361228 url(../../images/neon/subul-child.png) no-repeat 95% 7px !important;
}
#menusys_moo li ul li.hasChild li a,
#menusys_moo li ul li.hasChild li.hasChild li a {
	background: none !important;
}
#menusys_moo li ul li.hasChild li a:hover,
#menusys_moo li ul li.hasChild li.hasChild li a:hover {
	background: #361228 !important;
}

#menusys_moo li ul a span {
	height: auto;
	display: block;
	line-height: 24px;
	font-size: 130%;
	text-transform: capitalize;
	border: none !important;
	background: none !important;
}

#menusys_moo li.havesubchild,
#menusys_moo li.havesubchild-active {

}

#menusys_moo li ul a:hover,
#menusys_moo li ul a:active,
#menusys_moo li ul a:focus,
#menusys_moo ul li:hover,
#menusys_moo ul li.hover,
#menusys_moo ul li.first-item:hover,
#menusys_moo ul li.havesubchildhover,
#menusys_moo ul li.havesubchild-activehover,
#menusys_moo ul ul li:hover,
#menusys_moo ul ul li.hover,
#menusys_moo ul ul li.havesubchildhover,
#menusys_moo ul ul li.havesubchild-activehover {
	color: #FFFFFF !important;
	text-decoration: none;
	background: #361228;
}

#menusys_moo ul li a.active {
	background: #361228 !important;
	color: #FFFFFF !important;
	text-decoration: none;
}

#menusys_moo ul li a.active:hover,
#menusys_moo ul li a.active:active,
#menusys_moo ul li a.active:focus {
	color: #FFFFFF !important;
}
